name: Trigger auto deployment for library-api-container

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/library-api-container-AutoDeployTrigger-d48860c2-1a1c-4f96-9495-8d6290c691ed.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.LIBRARYAPICONTAINER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.LIBRARYAPICONTAINER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.LIBRARYAPICONTAINER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: libraryvp.azurecr.io
          registryUsername: ${{ secrets.LIBRARYAPICONTAINER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.LIBRARYAPICONTAINER_REGISTRY_PASSWORD }}
          containerAppName: library-api-container
          resourceGroup: VPLibraryRG
          imageToBuild: libraryvp.azurecr.io/library-api-container:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


